#container {
    width:auto;
    margin-left:1rem;
    margin-top:3rem;
}

#panel-one {
    float: left;
}

#panel-two {
    float: left;
    position:relative;
    top:100px;
}

#panel-three {
    float: left;
    position: relative;
    top: 300px;
}

#panel-four {
    float: left;
    position: relative;
    top: 300px;
}

#panel-five {
    float: left;
    position: relative;
    top: 300px;
}

.atomic-number {
    position:relative;
    margin-top:0.5rem;
    font-size:1.5rem;
}

.symbol {
    position:relative;
    text-align:center;
    margin-top: 0.3rem;
    font-size:3rem;
}

.element-name {
    position:relative;
    text-align:center;
    margin-top: 1.5rem;
    font-size:1.0rem;

}

.atomic-mass {
    margin-top:2rem;
}


.flip-card {
    background-color:transparent;
    width: 100px;
    height: 100px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align:center;
    transition: transform 0.6s;
    transform-style:preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front-reactive-nonmetals,
.flip-card-back-reactive-nonmetals,
.flip-card-front-alkali-metals,
.flip-card-back-alkali-metals,
.flip-card-front-alkaline-earth-metals,
.flip-card-back-alkaline-earth-metals,
.flip-card-front-transition-metals,
.flip-card-back-transition-metals,
.flip-card-front-lanthanides,
.flip-card-back-lanthanides,
.flip-card-front-actinides,
.flip-card-back-actinides,
.flip-card-front-unknown-properties,
.flip-card-back-unknown-properties,
.flip-card-front-metalloids,
.flip-card-back-metalloids,
.flip-card-front-posttransition-metals,
.flip-card-back-posttransition-metals,
.flip-card-front-noble-gases,
.flip-card-back-noble-gases {
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

.flip-card-front-reactive-nonmetals {
    background-color:cadetblue;
    color:black;
}

.flip-card-back-reactive-nonmetals {
    background-color:slategray;
    color:white;
    transform: rotateY(180deg);
}

.flip-card-front-alkali-metals {
    background-color:darkslategrey;
    color: black;
}

.flip-card-back-alkali-metals {
    background-color:slategray;
    color:white;
    transform: rotateY(180deg);
}

.flip-card-front-alkaline-earth-metals {
    background-color:crimson;
    color:black;
}

.flip-card-back-alkaline-earth-metals {
    background-color:slategray;
    color:white;
    transform: rotateY(180deg);
}

.flip-card-front-transition-metals {
    background-color:dodgerblue;
    color:black;
}

.flip-card-back-transition-metals {
    background-color:slategray;
    color:white;
    transform: rotateY(180deg);
}

.flip-card-front-lanthanides {
    background-color:darkslateblue;
    color:black;
}

.flip-card-back-lanthanides {
    background-color:slategray;
    color:white;
    transform: rotateY(180deg);
}

.flip-card-front-actinides {
    background-color:purple;
    color:black;
}

.flip-card-back-actinides {
    background-color:slategray;
    color:white;
    transform: rotateY(180deg);
}

.flip-card-front-unknown-properties {
    background-color:tan;
    color:black;
}

.flip-card-back-unknown-properties {
    background-color:slategray;
    color:white;
    transform: rotateY(180deg);
}

.flip-card-front-metalloids {
    background-color:chocolate;
    color:black;
}

.flip-card-back-metalloids {
    background-color:slategray;
    color:white;
    transform: rotateY(180deg);
}

.flip-card-front-posttransition-metals {
    background-color:seagreen;
    color:black;
}

.flip-card-back-posttransition-metals {
    background-color:slategray;
    color:white;
    transform: rotateY(180deg);
}

.flip-card-front-noble-gases {
    background-color:darkgoldenrod;
    color:black;
}

.flip-card-back-noble-gases {
    background-color:slategray;
    color:white;
    transform: rotateY(180deg);
}

